include README.md
include litepipeline/manager/configuration.yml.temp
include litepipeline/manager/install_systemd_service.sh
include litepipeline/manager/uninstall_systemd_service.sh
include litepipeline/manager/litepipeline-manager.service.temp
include litepipeline/manager/manager.sh
include litepipeline/manager/README.md
include litepipeline/manager/migrate_database.py
include litepipeline/node/configuration.yml.temp
include litepipeline/node/install_systemd_service.sh
include litepipeline/node/uninstall_systemd_service.sh
include litepipeline/node/litepipeline-node.service.temp
include litepipeline/node/node.sh
include litepipeline/node/README.md
include litepipeline/viewer/configuration.yml.temp
include litepipeline/viewer/install_systemd_service.sh
include litepipeline/viewer/uninstall_systemd_service.sh
include litepipeline/viewer/litepipeline-viewer.service.temp
include litepipeline/viewer/viewer.sh
include litepipeline/viewer/README.md
recursive-include litepipeline/viewer/templates *
recursive-include litepipeline/viewer/static *